networks:
  network:
    driver: bridge

services:
  nyooom-valkey:
    image: valkey/valkey:9.0-alpine
    container_name: nyooom-valkey
    restart: unless-stopped
    networks:
      - network
    ports:
      - "${CACHE_PORT}:6379"
    volumes:
      - valkey_data:/data
    command: valkey-server --requirepass ${CACHE_PASSWORD}

  nyooom-backend:
    build:
      dockerfile: Dockerfile.dev
    container_name: nyooom-backend
    restart: unless-stopped
    networks:
      - network
    hostname: nyooom-backend
    environment:
      - ROLE=Backend
      - COLOR=blue
      - PORT=8080
      - DEV_MODE=true
    env_file:
      - .env
    ports:
      - "${WEB_UI_PORT}:8080"
    volumes:
      - .:/app
      - backend-data:/home/appuser/Nyooom
      - backend-data:/root/Nyooom

volumes:
  valkey_data:
    name: valkey-data
  backend-data:
    name: backend-data
