{{if .}}
<div class="links-grid">
	{{range .}}
	<div class="link-card">
		<div class="link-slug">/{{.Slug}}</div>
		<div class="link-url">➡ <a href="{{.URL}}">{{.URL}}</a></div>
		<div class="link-stats">
			{{if .LastClick}}
				<div class="link-stat link-last-click" data-timestamp="{{.LastClick.Format "2006-01-02T15:04:05Z07:00"}}">
					Last click: <span class="timestamp-display">Loading...</span>
				</div>
			{{end}}
			<div class="link-stat">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					width="16"
					height="16"
					fill="currentColor"
					viewBox="0 0 16 16"
				>
					<path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
					<path
						d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"
					/>
				</svg>
				{{.Clicks}} {{if eq .Clicks 1}}click{{else}}clicks{{end}}
			</div>
		</div>
		<div class="link-actions">
			<button class="copy-button btn-primary" onclick="copyToClipboard(event, '{{.Slug}}')" title="Copy the shortened link for /{{.Slug}}">
				Copy Short Link
			</button>
			<button class="btn-neutral btn-icon" onclick="showQRCode('{{.Slug}}')" title="Create a QR code for /{{.Slug}}">
				<svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
					<path stroke="currentColor" stroke-linejoin="round" stroke-width="1.5" d="M4 4h6v6H4V4Zm10 10h6v6h-6v-6Zm0-10h6v6h-6V4Zm-4 10h.01v.01H10V14Zm0 4h.01v.01H10V18Zm-3 2h.01v.01H7V20Zm0-4h.01v.01H7V16Zm-3 2h.01v.01H4V18Zm0-4h.01v.01H4V14Z"/>
					<path stroke="currentColor" stroke-linejoin="round" stroke-width="1.5" d="M7 7h.01v.01H7V7Zm10 10h.01v.01H17V17Z"/>
				</svg>
			</button>
			<button class="btn-danger btn-icon" onclick="deleteLink('{{.Slug}}')" title="Delete the shortened link for /{{.Slug}}">
				<svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
					<path fill-rule="evenodd" d="M8.586 2.586A2 2 0 0 1 10 2h4a2 2 0 0 1 2 2v2h3a1 1 0 1 1 0 2v12a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V8a1 1 0 0 1 0-2h3V4a2 2 0 0 1 .586-1.414ZM10 6h4V4h-4v2Zm1 4a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Zm4 0a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Z" clip-rule="evenodd"/>
				</svg>
			</button>
		</div>
	</div>
	{{end}}
</div>
{{else}}
<div class="empty-state">
	<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
		<path
			stroke-linecap="round"
			stroke-linejoin="round"
			stroke-width="2"
			d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1"
		/>
	</svg>
	<p>No links yet. Create your first one above!</p>
</div>
{{end}}
